:root {
	/* Colors */
	--main-bg-clr: #000000;
	--accent-clr: #F51B1B;
	--white-clr: #FFFFFF;
	--white-clr-op: rgba(255, 255, 255, 0.4);

	/* Typography */
	--text-h1-ff: "RedCollar", sans-serif;
	--text-h1-fz: 24px;
	--text-h1-fw: 400;
	--text-h1-ls: -2%;
	--text-h1-lh: 28px;
	
	--text-h1-mob-ff: "RedCollar", sans-serif;
	--text-h1-mob-fz: 20px;
	--text-h1-mob-fw: 400;
	--text-h1-mob-ls: -2%;
	--text-h1-mob-lh: 24px;
	
	--text-h2-ff: "RedCollar", sans-serif;
	--text-h2-fz: 16px;
	--text-h2-fw: 400;
	--text-h2-ls: 0%;
	--text-h2-lh: 100%;
	
	--text-main-ff: "TTCommons", sans-serif;
	--text-main-fz: 20px;
	--text-main-fw: 400;
	--text-main-ls: -2%;
	--text-main-lh: 24px;

	--text-main-mob-ff: "TTCommons", sans-serif;
	--text-main-mob-fz: 16px;
	--text-main-mob-fw: 400;
	--text-main-mob-ls: -2%;
	--text-main-mob-lh: 20px;
	
	--text-2-ff: "TTCommons", sans-serif;
	--text-2-fz: 18px;
	--text-2-fw: 400;
	--text-2-ls: -1%;
	--text-2-lh: 24px;
	
	--text-2-mob-ff: "TTCommons", sans-serif;
	--text-2-mob-fz: 16px;
	--text-2-mob-fw: 400;
	--text-2-mob-ls: -1%;
	--text-2-mob-lh: 20px;
}

@font-face {
	font-family: "RedCollar";
	src: url(./assets/fonts/Redcollar.woff2) format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "TTCommons";
	src: url(./assets/fonts/TTCommons-Regular.woff2) format("woff2");
	font-style: normal;
	font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	min-width: 100vw;
	min-height: 100vh;

	background-color: var(--main-bg-clr);
	color: var(--white-clr);

	font-family: "TTCommons", sans-serif;
}

a {
	text-decoration: none;
	color: var(--white-clr);
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

/* ====== Header ====== */
.header {
	position: absolute;
	top: 26px;
	right: 41px;
}

.header_logo {
	display: block;
    max-width: 100%;
    max-height: 100%;
}

/* ====== Main ====== */
.main {
	min-height: 100vh;

	display: grid;
	grid-template-columns: 322px 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		" card overview "
		" card summary ";
	column-gap: 31px;
	row-gap: 32px;

	padding: 40px;
}

.card {
	grid-area: card;
}

.overview {
	grid-area: overview;
}

.summary {
	grid-area: summary;
}

/* ====== Card section ====== */
.card {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card_avatar {
	width: 322px;
	max-height: 355px;

	overflow: hidden;
}

.card_avatar-image {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.card_info {
	width: 100%;
	height: 100%;
	max-height: 454px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card_notch {
	position: absolute;
	top: -30px;
	left: 0;

	width: 322px;
	height: 38px;

	background-color: var(--accent-clr);
	clip-path: path("M 0,36 Q 0,20 16,20 l 113, 0 q 32,0 32,-19 q 0,19 32,19 l 113, 0 q 16,0 16,16 Z ");
}

.card_text {
	width: 100%;
	height: 100%;

	/* Отступ сверху 38px / 2 + 21 = 40px (Половина высоты notch + остаток) */
	padding: 21px 24px 40px 24px; 

	background-color: var(--accent-clr);
	
	position: relative;
}

.card_text > h1,
.card_text > p {
	margin-bottom: 8px;
}

.card_text > p:last-of-type {
	margin-bottom: 40px;
}

.card_text > h1 {
	font-family: var(--text-h1-ff);
	font-size: var(--text-h1-fz);
	font-weight: var(--text-h1-fw);
	letter-spacing: var(--text-h1-ls);
	line-height: var(--text-h1-lh);
}

.card_text > p {
	font-family: var(--text-main-ff);
	font-size: var(--text-main-fz);
	font-weight: var(--text-main-fw);
	letter-spacing: var(--text-main-ls);
	line-height: var(--text-main-lh);
}

.card_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.card_list > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11px;
}

.card_list > li > span {
	font-family: var(--text-main-ff);
	font-size: var(--text-main-fz);
	font-weight: var(--text-main-fw);
	letter-spacing: var(--text-main-ls);
	line-height: var(--text-main-lh);
}

/* ====== Overview section ====== */

.overview_text {
	max-width: 75%;

	margin-top: 18px;

	font-family: var(--text-2-ff);
	font-size: var(--text-2-fz);
	font-weight: var(--text-2-fw);
	letter-spacing: var(--text-2-ls);
	line-height: var(--text-2-lh);
}

@media screen and (min-width: 1441px) {
	.overview_text {
		max-width: 80%;
	}
}

/* ====== Summary section ====== */

.summary {
	position: relative;

	padding: 48px 28px;

	border: 1px solid var(--white-clr);
}

.summary_svg-container {
	position: absolute;
	top: -1px;
	left: 56px;

	background-color: var(--main-bg-clr);

	transform: rotate(180deg);
}

.summary_svg {
	display: block;
}

.summary_card {
	display: flex;
	gap: 72px;

	padding-top: 20px;
}

.summary > .summary_card:nth-of-type(2) {
	padding-top: 0;
}

.summary_list-container {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 5px;

	padding-bottom: 20px;

	border-bottom: 1px solid var(--white-clr-op);
}

.summary_card:last-of-type .summary_list-container {
  border-bottom: none;
}

.summary_list-heading {
	max-width: 124px;
	width: 100%;

	font-family: var(--text-h2-ff);
	font-size: var(--text-h2-fz);
	font-weight: var(--text-h2-fw);
	letter-spacing: var(--text-h2-ls);
	line-height: var(--text-h2-lh);
}

.summary_list {
	font-family: var(--text-2-ff);
	font-size: var(--text-2-fz);
	font-weight: var(--text-2-fw);
	letter-spacing: var(--text-2-ls);
	line-height: var(--text-2-lh);
}

.summary_list > li:not(:first-child) {
	color: var(--white-clr-op);
}

.summary_list-skills {
	display: flex;
	align-items: center;
	column-gap: 32px;
	row-gap: 16px;
	flex-wrap: wrap;
}