:root {
	/* Typography */
	--text-h1-ff: "RedCollar", sans-serif;
	--text-h1-fz: 24px;
	--text-h1-fw: 400;
	--text-h1-ls: -2%;
	--text-h1-lh: 28px;
	
	--text-h1-mob-ff: "RedCollar", sans-serif;
	--text-h1-mob-fz: 20px;
	--text-h1-mob-fw: 400;
	--text-h1-mob-ls: -2%;
	--text-h1-mob-lh: 24px;
	
	--text-h2-ff: "RedCollar", sans-serif;
	--text-h2-fz: 16px;
	--text-h2-fw: 400;
	--text-h2-ls: 0%;
	--text-h2-lh: 100%;
	
	--text-main-ff: "TTCommons", sans-serif;
	--text-main-fz: 20px;
	--text-main-fw: 400;
	--text-main-ls: -2%;
	--text-main-lh: 24px;

	--text-main-mob-ff: "TTCommons", sans-serif;
	--text-main-mob-fz: 16px;
	--text-main-mob-fw: 400;
	--text-main-mob-ls: -2%;
	--text-main-mob-lh: 20px;
	
	--text-2-ff: "TTCommons", sans-serif;
	--text-2-fz: 18px;
	--text-2-fw: 400;
	--text-2-ls: -1%;
	--text-2-lh: 24px;
	
	--text-2-mob-ff: "TTCommons", sans-serif;
	--text-2-mob-fz: 16px;
	--text-2-mob-fw: 400;
	--text-2-mob-ls: -1%;
	--text-2-mob-lh: 20px;
}

@font-face {
	font-family: "RedCollar";
	src: url(../fonts/Redcollar.woff2) format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "TTCommons";
	src: url(../fonts/TTCommons-Regular.woff2) format("woff2");
	font-style: normal;
	font-weight: normal;
}